:global(.transitionWrapper-enter) {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
    opacity: 1;
}

:global(.transitionWrapper-leave) {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
    opacity: 0;
}

.transitionWrapper {
    position: relative;
}